{% extends 'base.html' %}
{% block content %}




  <div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" style="background-image: url('static/images/banners/about_b_g.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="heading">About Us</h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="site-section mb-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 mb-5"><h1>Our History</h1></div>

          <div class="col-md-6">
            <p>Hola!Amigos,Welcome to the page.This website is aimed at providing all the class related information accessible to all of you.<br><br><br>Here,we provide various sections that will help the class alltogether.An easy access to all the assignments given to the class,a quick look at the timetable for the day/week,an update on all upcoming events conducted from workshops to aquila and most importantly the <strong>INTERVIEW PREPERATION KIT</strong>.</p>
          </div>
          <div class="col-md-6">
            <p>We believe that all of us should work together,help one another and motivate each other.Working together will help clearing doubts,understanding briefly and also challenging ovrselves to be better at what we do.<br><br>Through our <strong>INTERVIEW PREPERATION KIT</strong> we aim at providing the recent interview questions and a number of challengess in all the fields i.e. Aptitude,Technicak and soft skills that will help the class prepare better and <strong>ACE ANY CHALLENGE YOU FACE</strong></p>


            </div>
      </div>


      <div class="row mt-5">
        <div class="col-md-12 mb-5 text-center mt-5">
          <h2>Developers</h2>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">

                <img src="static/images/developers/me1.png" alt="Image placeholder">

                <h3 class="block-38-heading">Mahesh</h3>
                <p class="block-38-subheading">3 CSE-A</p>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">

                <img src="static/images/developers/devank.jpg" alt="Image placeholder">

                <h3 class="block-38-heading">Devank</h3>
                <p class="block-38-subheading">3 CSE-A</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">

                <img src="static/images/developers/yashwanth.jpg" alt="Image placeholder">

                <h3 class="block-38-heading">Yashwanth</h3>
                <p class="block-38-subheading">3 CSE-A</p>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">

                <img src="static/images/developers/aswin.jpg" alt="Image placeholder">


                <h3 class="block-38-heading">Aswin</h3>
                <p class="block-38-subheading">3 CSE-A</p>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="block-31 mb-5" style="position: relative;">
          <div class="owl-carousel loop-block-31">

            <div class="block-30 no-overlay item" style="background-image: url('static/images/gallery/IMG-20190906-WA0008.jpg');"></div>
            <div class="block-30 no-overlay item" style="background-image: url('static/images/gallery/IMG-20200302-WA0007.jpg');"></div>
            <div class="block-30 no-overlay item" style="background-image: url('static/images/gallery/IMG-20190329-WA0013.jpg');"></div>

          </div>

        </div>
        <a href="{{url_for('core.gallery')}}"><h1 style="text-align:center; color:black">Our Gallery</h1></a>
      </div>


  <div class="site-section border-top">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-bulb"></span></div>
            <div class="media-body">
              <h3 class="heading">Our Mission</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-cash"></span></div>
            <div class="media-body">
              <h3 class="heading">Make Donations</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-contacts"></span></div>
            <div class="media-body">
              <h3 class="heading">We Need Volunteers</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- .site-section -->


{% endblock %}
