
{% extends "base.html" %}
{% block content %}




  <!-- END nav -->

  <div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" style="background-image: url('static/images/img_2.jpg')" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
              <h2 class="heading mb-5">Welcome to CSE - A</h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="site-section section-counter">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pr-5">
          <div class="block-48">
              <span class="block-48-text-1">A Total of</span>
              <div class="block-48-counter ftco-number" data-number="55">0</div>
              <span class="block-48-text-1 mb-4 d-block">Students in CSE-A</span>
              <p class="mb-0"><a href="{{url_for('core.timeTable')}}" class="btn btn-white px-3 py-2">View The List</a></p>
            </div>
        </div>
        <div class="col-md-6 welcome-text">
          <h2 class="display-4 mb-3">Let Us Begin!</h2>
          <p class="lead">Hey There! Welcome to the official CSE-A website. We have got all the essential information regarding the class and very intresting features to help your prepare for a better you.</p>
          <p class="mb-4">Would like to know more? Click on the button down below to understand the purpose of this website better.</p>
          <p class="mb-0"><a href="about" class="btn btn-primary px-3 py-2">About Us</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section border-top">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-bulb"></span></div>
            <div class="media-body">
              <h3 class="heading">Our Mission</h3>
              <p>To provide all the Information regarding CSE-A.To Encourage and Inspire Our Fellow mates as well as ourselves to learn and improve the skills essential for the future.</p>
              <p><a href="{{url_for("core.contact")}}" class="link-underline">Learn More</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-cash"></span></div>
            <div class="media-body">
              <h3 class="heading">Capturing Uniqueness</h3>
              <p>Every mind is unique and so is every thought in it.Feel free to share your thoughts on what modifications could be done on the website.</p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-contacts"></span></div>
            <div class="media-body">
              <h3 class="heading">Reviews</h3>
              <p>We would certainly like to hear what your thoughts are of the website.Do let us know your genuine opinion.</p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- .site-section -->





  <div class="site-section fund-raisers bg-light">
    <div class="container">
      <div class="row mb-3 justify-content-center">
        <div class="col-md-8 text-center">
          <h2>Study Materials</h2>
          <p class="lead"></p>
          <p><a href="#" class="link-underline"></a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <!-- <div class="row"> -->

        <div class="col-md-12 block-11">
          <div class="nonloop-block-11 owl-carousel">

            <div class="card fundraise-item">
              <a href="{{url_for('core.cd')}}"><img class="card-img-top" src="static/images/subjects/cd.jpg" alt="Image placeholder"></a>
              <div class="card-body">
                <h3 class="card-title" ><a href="{{url_for("core.cd")}}">Compiler design</a></h3>
                <p class="card-text">No CD No CSE &#128580;</p>
                <span class="donation-time mb-3 d-block"></span>
                <div class="progress custom-progress-success">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="fund-raised d-block"></span>
              </div>
            </div>


            <div class="card fundraise-item">
              <a href="{{url_for('core.wt')}}"><img class="card-img-top" src="static/images/subjects/web_tech.jpg" alt="Image placeholder"></a>
              <div class="card-body">
                <h3 class="card-title"><a href="{{url_for('core.wt')}}">Web Technologies</a></h3>
                <p class="card-text">A Technology that brings people together.Unless you wanna go incognito &#128521;</p>
                <span class="donation-time mb-3 d-block"></span>
                <div class="progress custom-progress-success">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="fund-raised d-block"></span>
              </div>
            </div>

            <div class="card fundraise-item">
              <a href="{{url_for('core.cns')}}"><img class="card-img-top" src="static/images/subjects/cry.jpg" alt="Image placeholder"></a>
              <div class="card-body">
                <h3 class="card-title"><a href="{{url_for('core.cns')}}">Cryptography and network security</a></h3>
                <p class="card-text">.erehT yawflaH erA uoY nehT ?sihT daeR uoY naC <br> Hint: Reverse &#128540;</p>
                <span class="donation-time mb-3 d-block"></span>
                <div class="progress custom-progress-success">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="fund-raised d-block"></span>
              </div>
            </div>


            <div class="card fundraise-item">
              <a href="{{url_for('core.mc')}}"><img class="card-img-top" src="static/images/subjects/mc.jpg" alt="Image placeholder"></a>
              <div class="card-body">
                <h3 class="card-title"><a href="{{url_for('core.mc')}}">Mobile Computing</a></h3>
                <p class="card-text">conquer the world with the knowledge of mobile computing. &#127758;</p>
                <span class="donation-time mb-3 d-block"></span>
                <div class="progress custom-progress-success">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="fund-raised d-block"></span>
              </div>
            </div>


            <div class="card fundraise-item">
              <a href="{{url_for('core.pccn')}}"><img class="card-img-top" src="static/images/subjects/pccn.jpg" alt="Image placeholder"></a>
              <div class="card-body">
                <h3 class="card-title"><a href="{{url_for('core.pccn')}}">Principles of computers and communication networks</a></h3>
                <div class="progress custom-progress-success">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="fund-raised d-block">Core fundamentals &#129300; but helpful &#128578;</span>
              </div>
            </div>


          </div>
        </div>
      <!-- </div> -->
    </div>
  </div> <!-- .section -->

<!--  <div class="site-section fund-raisers">
    <div class="container">
      <div class="row mb-3 justify-content-center">
        <div class="col-md-8 text-center">
          <h2>Latest Donations</h2>
          <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="mb-5"><a href="#" class="link-underline">View All Donations</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5">
          <div class="person-donate text-center">
            <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
              <h2>Jorge Smith</h2>
              <span class="time d-block mb-3">Donated Just now</span>
              <p>Donated <span class="text-success">$252</span> <br> <em>for</em> <a href="#" class="link-underline fundraise-item">Water Is Life. Clean Water In Urban Area</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-5">
          <div class="person-donate text-center">
            <img src="images/person_2.jpg" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
              <h2>Christine Charles</h2>
              <span class="time d-block mb-3">Donated 1 hour ago</span>
              <p>Donated <span class="text-success">$400</span> <br> <em>for</em> <a href="#" class="link-underline fundraise-item">Children Needs Education</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-5">
          <div class="person-donate text-center">
            <img src="images/person_3.jpg" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
              <h2>Albert Sluyter</h2>
              <span class="time d-block mb-3">Donated 4 hours ago</span>
              <p>Donated <span class="text-success">$1,200</span> <br> <em>for</em> <a href="#" class="link-underline fundraise-item">Need Shelter for Children in Africa</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-5">
          <div class="person-donate text-center">
            <img src="images/person_4.jpg" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
              <h2>Andrew Holloway</h2>
              <span class="time d-block mb-3">Donated 9 hours ago</span>
              <p>Donated <span class="text-success">$100</span> <br> <em>for</em> <a href="#" class="link-underline fundraise-item">Water Is Life. Clean Water In Urban Area</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .section -->>

  <div class="featured-section overlay-color-2" style="background-image: url('images/bg_3.jpg');">

    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <img src="static/images/banners/gallery_bg.png" alt="Image placeholder" class="img-fluid">
        </div>

        <div class="col-md-6 pl-md-5">
          <h2>Glance At The Squad</h2>
          <span class="featured-text d-block mb-3">A Visit Down The Memory Lane</span>

          <p class="mb-3">A Gallery filled with all of the best moments captured, that will make you wanna relive each one of them!</p>
          <span class="fund-raised d-block mb-5">As the Spanish say "Prepárate para la nostalgia!" </span>

          <p><a href="gallery" class="btn btn-success btn-hover-white py-3 px-5">Visit The Gallery</a></p>
        </div>

      </div>
    </div>

  </div> <!-- .featured-donate -->

  <div class="site-section bg-light">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12">
          <h2>The Interview Preperation Kit</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="#" class="mb-3 img-wrap">
              <img src="static/images/crs.png" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">Soft Skills</a></h3>

            <p>Practice and learn more about the most important skill that will be usefull throughout your life.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="#" class="mb-3 img-wrap">
              <img src="static/images/cra.png" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="#">Aptitude</a></h3>

            <p>Tina has 5 chocolates.If she can eat 4 of them in 5 seconds, Then you can certainly click on the aptitude test faster.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry">
            <a href="{{url_for('core.technical')}}" class="mb-3 img-wrap">
              <img src="static/images/crt.png" alt="Image placeholder" class="img-fluid">
            </a>
            <h3><a href="{{url_for('core.technical')}}">Technical</a></h3>

            <p>Buckle Up.Coding challenges coming your way.!</p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .section -->
  <div class="featured-section overlay-color-2" style="background-image: url('static/images/bg_2.jpg');">


    <div class="container">
      <div class="row">

        <div class="col-md-6 mb-5 mb-md-0">

          <img src="static/images/bg_2.jpg" alt="Image placeholder" class="img-fluid">

        </div>

        <div class="col-md-6 pl-md-5">

          <div class="form-volunteer">


            <h2>Be A Volunteer Today and help us maintain the website</h2>
            <form action="{{url_for('core.contact')}}" method="post">
              <div class="form-group">
                <!-- <label for="name">Name</label> -->
                <input type="text" class="form-control py-2" name='name' id="name" placeholder="Enter your name">
              </div>
              <div class="form-group">
                <!-- <label for="email">Email</label> -->
                <input type="text" name='email' class="form-control py-2" id="email" placeholder="Enter your email">
              </div>
              <div class="form-group">
                <!-- <label for="v_message">Email</label> -->
                <textarea  name='message' id="" cols="30" rows="3" class="form-control py-2" placeholder="Write your message"></textarea>

                <!-- <input type="text" class="form-control py-2" id="email"> -->
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-white px-5 py-2" value="Send">
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div> <!-- .featured-donate -->


  {% endblock %}
