<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <div class="start">
        <a href="static/pdfs/mc_notes.PDF" >
            <div class="combine">
                <img src="static/pdf.svg" width="100px" height="100px" alt="pdf image" style="align-items: center;">
                <p>MC all units</p>
            </div>
        </a>
    </div>


</body>

<style>
   
    div.start{
        align-self: center;
        padding: 20px;
        background-color: rgb(103, 187, 255) ;
        border-radius: .4em;
        margin: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 100px;
        height: 200px;
       float: left;
    }

    div.start:hover{
        background-color: rgb(194, 227, 255);
    }

    p{
        padding-top:5px;
        text-align: center;
    }
</style>

</html>