[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-admin = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
wtforms = "*"
gunicorn = "*"
psycopg2 = "*"
pillow = "*"
boto3 = "*"
requests = "*"


[requires]
python_version = "3.7"
